<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Menu</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <picture>
                <img src="../images/logo_ramada.jpg" alt="" class="logo">
            </picture>
            <ul class="menu">
                <li>
                    <a href="../index.html">Spanish</a>
                </li>
                <li>
                    <a href="../views/english.html">English</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h3>From the Sea to the Table</h3>
        </div>
        <section class="seccion__mar">
            <div class="mar">
                <img src="../images/Tostada.jpg" alt="" class="img">
                <p class="text__producto">
                    Glass of Seafoods
                </p>
                <p class="text__producto">
                    (Octopus, Shrimp & Callo)
                </p>
                <p class="text__producto">
                    $95.00 MXN
                </p>
            </div>
            <div class="mar">
                <img src="../images/Tostada.jpg" alt="" class="img">
                <p class="text__producto">
                    Glass Breaksunderwear
                </p>
                <p class="text__producto">
                    (Octopus, Shrimp, Callo & Oyster)
                </p>
                <p class="text__producto">
                    $175.00 MXN
                </p>
            </div>
            <div class="mar">
                <img src="../images/Tostada.jpg" alt="" class="img">
                <p class="text__producto">
                    Seafoods Tower
                </p>
                <p class="text__producto">
                    $170.00 MXN
                </p>
            </div>
            <div class="mar">
                <img src="../images/Tostada.jpg" alt="" class="img">
                <p class="text__producto">
                    Special Tower
                </p>
                <p class="text__producto">
                    (Octopus, Shrimp , Tuna & Oyster)
                </p>
                <p class="text__producto">
                    $280.00 MXN
                </p>
            </div>
            <div class="mar">
                <img src="../images/Tostada.jpg" alt="" class="img">
                <p class="text__producto">
                    Seafoods Salad
                </p>
                <p class="text__producto">
                    $180.00 MXN
                </p>
            </div>
        </section>
    </main>

</body>

</html>